.product {
    display: flex;
    justify-content: space-between;
    margin: 15px 15px;
}
.table-img{
    /* height: fit-content; */
    width: 50px;
}

.table-icon {
    text-align: center;
}
.table-icon i{
    margin: 0 10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}
.modal-header {
    color: black;
}
.modal-body{
    color: black;
    display: flex;
}
/* .modal-body input {
    width: 100%;
} */
.Product-preview img{
    height: 50vh;
}